<!DOCTYPE html>
<html>
<head>
  <title>Basketball</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylessheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300">
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div> <!-- nav bar -->
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-items">
          <%= link_to "Home", root_path, class: 'nav-links' %>
        </li>
        <li class="nav-items">
          <%= link_to "About", about_path, class: 'nav-links' %>
        </li>
        <li class="nav-items">
          <%= link_to "Contact", contact_path, class: 'nav-links' %>
        </li>
        <li class="nav-items">
          <%= link_to "Drills", drills_path, class: 'nav-links' %>
        </li>
      </ul>
    </nav>
  </div>

  <% if flash[:notice] %>
       <div class="alert alert-success">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash[:notice] %>
       </div>
     <% elsif flash.now[:alert] %>
       <div class="alert alert-danger">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash.now[:alert] %>
       </div>
     <% elsif flash[:alert] %>
       <div class="alert alert-warning">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash[:alert] %>
       </div>
     <% end %>





<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
